Flask
numpy
matplotlib
pathlib
pandas
uWSGI
uwsgidecorators
requests
responses
PyAudio
SQLAlchemy
python-ffmpeg-video-streaming
flask_wtf
wtforms
wtforms-html5
wtforms_components
Flask-SQLAlchemy
pysftp
imutils
pysmb