{% extends "base.html" %}
{% block title %}Videodateien{% endblock %}

{% block html_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
    <!-- The grid: four columns -->
    <div>
        <table>
            <thead>
            <tr>
                <td><h2>Zeitraffer</h2></td>
            </tr>
            <p>
            </p>
            </thead>
            {% for row in videos %}
                <tr>
                    <td><a href="{{ row[1] }}" download>{{ row[0] }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
