{% extends "base.html" %}
{% block title %}Bilder{% endblock %}

{% block html_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
    <!-- The grid: four columns -->
    <div class="row">
        {% for row in pictures %}
            <div class="column">
                <img src="{{ row[1] }}" alt="{{ row[0] }}" class="responsive" onclick="expandImg(this);">
            </div>
        {% endfor %}
    </div>

    <!-- The expanding image container -->
    <div class="container">
        <!-- Close the image -->
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

        <!-- Expanded image -->
        <img id="expandedImg" style="width:auto">

        <!-- Image text -->
        <div id="imgtext"></div>
    </div>
    <script>

        function expandImg(imgs) {
            var expandImg = document.getElementById("expandedImg");
            var imgText = document.getElementById("imgtext");
            expandImg.src = imgs.src;
            imgText.innerHTML = imgs.alt;
            expandImg.parentElement.style.display = "block";
        }
    </script>
{% endblock %}